.top-warp{width: 100%;height: 400px}
.page-warp{width: 100%;height: 900px;margin-top: 10px}
.foot-warp{width: 100%;height: 200px;}
.div-null{height: 10px}

.top-warp-logo{width: 100%;height: 100%;padding: 10px}
.top-warp .top-warp-logo img{max-width: 440px;max-height: 440px;}
.top-warp .top-warp-logo div{margin: 0 auto;width: 440px}

.page-warp #map{width: 100%;height: 600px;padding-top: 50px}
.page-warp .page-warp-number{width: 100%;height: 120px;font-size: 40px;line-height: 90px;text-align: center;padding-top: 30px}
.page-warp .page-warp-number {color: red}
.page-warp-blessing{height: 110px;font-size: 40px;text-align: center;}
.page-warp-blessing input{width: 300px;height: 100px;border: none;background-color: red;color: #ffffff;font-size: 40px}


.foot-warp-host{width: 590px;margin: 100px auto;height: 100px;}
.foot-warp .foot-warp-logo {width: auto;height: 80px;float: left;}
.foot-warp .foot-warp-logo img{width: 80px;height: 80px;margin: auto 0}

.foot-warp .foot-warp-host .foot-warp-title{width: auto;font-size: 40px;line-height: 40px;float: left;padding-left: 40px}
.foot-warp .foot-warp-host .foot-warp-title span{font-size: 25px}